<!DOCTYPE html>
<html>
<head>
    <title>TO DO LIST</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/origin.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
</head>
<body>
    <section class="todoapp">
        <header class="header"><h1>todos</h1> 
            <input id='newTodo' autofocus="autofocus" autocomplete="off" placeholder="What needs to be done?" class="new-todo">
        </header>
        <ul class="todo-list">
            
        </ul>
    </section>
</body>
<script type="text/javascript" src='../javascripts/helper.js'></script>
<script type="text/javascript" src='../javascripts/main.js'></script>
</html>